.root {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 90vh;
    justify-content: flex-end;
    row-gap: 0.5rem;
    background-image: 
    linear-gradient(rgba(20, 78, 49, 0.5), rgba(20, 78, 49, 0.5)), 
    url('@assets/images/hero-image.jpg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    padding: 0rem 2rem 2rem 0rem;

    @include breakpoint(sm) {
        padding: 6rem 6rem 2rem 0rem;
    }
}

.title {
    padding-left: 2rem;
    @include breakpoint(sm) {
        padding-left: 2rem;
    }
    @include breakpoint(md) {
        padding-left: 6rem;
    }
}

.paragraph {
    border-top: 1px solid $brand-green-5;
    max-width: 90%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
    font-weight: 200;
}

.text {
    text-align: left;
    font-size: $font-size-lg;
    padding-left: 2rem;
    max-width: 96%;
    strong {
        font-weight: 700;
        font-size: $font-size-lg;
    }

    @include breakpoint(sm) {
        padding-left: 2rem;
    }
    @include breakpoint(md) {
        padding-left: 6rem;
    }
}

.button {
    align-self: center;
    max-width: 200px;
}

.image {
    align-self: center;
    height: 14rem;
    margin-top: 1rem;
    width: 24rem;
}
