@use '@styles/general' as general;

.root {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    background-color: var(--snow-white);
    background-image: 
    linear-gradient(rgba(20, 78, 49, 0.5), rgba(20, 78, 49, 0.5)), 
    url('~/assets/img/theme/manuka_aly3naa_min.jpg');
    background-size: cover;
    padding-top: 6em;
    padding-bottom: 4em;
    color: var(--snow-white);
}

.title {
    h1 {
        font: var(--heading1);
        letter-spacing: -0.3rem;
    }

    text-align: center;

    @media only screen and (max-width: general.$mobile-width) {
        font-size: 3rem;
    }
}

.paragraph {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
    font: var(--paragraph1);

    @media only screen and (max-width: general.$mobile-width) {
        font-size: 1rem;
    }
}

.text {
    width: 60%;
}

.button {
    align-self: center;
}

.image {
    align-self: center;
    height: 14em;
    margin-top: 1em;
    width: 24em;
}
