@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200;300;400;500;600;800&display=swap');

/* Color Palette */
$primary-color: #185737;
$secondary-color: #282c34;
$accent-color: #ff6347;
$accent-color-2: #185737;
$background-color: #f5f5f5;
$text-color: #333333;

$snow-white: #f9f9f9;
$brand-green-5: #D9F0E5;
$brand-green-300: #1A2D27;
/* Typography */
$font-family-base: "Fustat", serif;
$font-size-base: 16px;
$font-weight-normal: 400;
$font-weight-bold: 700;

$font-size-xs: 0.875rem;
$font-size-sm: 1.25rem;
$font-size-md: 1.5rem;
$font-size-lg: 2rem;
$font-size-xl: 6rem;

/* Spacing */
$spacing-xs: 6px;
$spacing-s: 12px;
$spacing-m: 18px;
$spacing-l: 24px;
$spacing-xl: 36px;
$spacing-xxl: 48px;

/* Breakpoints */
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

/* Other Variables */
$border-radius: 4px;

/* Mixins */
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin breakpoint($breakpoint) {
  @if $breakpoint == sm {
    @media (min-width: $breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (min-width: $breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (min-width: $breakpoint-xl) {
      @content;
    }
  }
}

/* Functions */
@function rem($px) {
  @return ($px / $font-size-base) * 1rem;
}

* {
    font-family: "Fustat", serif;
    font-size: 16px;

    @include breakpoint(xl) {
        font-size: 24px;
    }



    color: $brand-green-5;
    line-height: 1.5;
    font-synthesis: none;
    font-optical-sizing: auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

h1 {
    font-size: $font-size-xl;
    line-height: 1;
    margin: 0 auto;
    margin-bottom: $spacing-m;
}

p {
    font-size: $font-size-md;
}
