@use './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Fustat:wght@200;300;400;500;600;800&display=swap');

:root {
    font-family: "Fustat", serif;
    line-height: 1.5;
    font-synthesis: none;
    font-optical-sizing: auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    place-items: center;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
}