:root {
    --my-pretty-font: 'Fustat', serif;

    //title
    --heading1: 800 6rem/1.2 var(--my-pretty-font);
    --heading2: 400 1rem/1.5 var(--my-pretty-font);

    //paragraph
    --paragraph1: 400 1.3rem/1.5 var(--my-pretty-font);
    --paragraph2: 200 1rem/1.5 var(--my-pretty-font);

    --button-font: 400 1rem/1.5 var(--my-pretty-font);
}
